<div>
  <h2 class="govuk-heading-l">Mac address search</h2>

  <a href="/dhcp" class="govuk-back-link">Back</a>

  <!-- Adding the search form -->
  <div style="text-align: right;class="govuk-grid-column-one-half search_bar">
    <%= form_tag("/search", method: :get, class: "govuk-form") do %>
      <%= text_field_tag :query, params[:query], placeholder: "Search by MAC Address", class: 'govuk-input govuk-input--width-10' %>
      <%= submit_tag "Search", class: "govuk-button", "data-module" => "govuk-button" %>
    <% end %>
  </div>

<div><p><%= @navigation_crumbs %></p></div>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Subnet ID</th>
        <th scope="col" class="govuk-table__header">HW Address</th>
        <th scope="col" class="govuk-table__header">Host name</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
    <% @hw_addresses.each do |hwa| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= hwa.subnet_id %></td>
        <td class="govuk-table__cell"><%= hwa.hw_address %></td>
        <td class="govuk-table__cell"><%= hwa.hostname %></td>
      </tr>
    <% end %>
    </tbody>

  </table>
</div>
