<div class="govuk-form-group <%= field_error(f.object, :cidr_block )%>">
  <%= f.label :cidr_block, class: "govuk-label" %>
  <div id="cidr_block-hint" class="govuk-hint">
    Must be in the form: 127.0.0.0/24
  </div>
  <%= f.text_field :cidr_block, class: "govuk-input" %>
</div>

<div class="govuk-form-group <%= field_error(f.object, :start_address) %>">
  <%= f.label :start_address, class: "govuk-label" %>
  <div id="start_address-hint" class="govuk-hint">
    Must be in the form: 127.0.0.1
  </div>
  <%= f.text_field :start_address, class: "govuk-input" %>
</div>

<div class="govuk-form-group <%= field_error(f.object, :end_address) %>">
  <%= f.label :end_address, class: "govuk-label" %>
  <div id="end_address-hint" class="govuk-hint">
    Must be in the form: 127.0.0.1
  </div>
  <%= f.text_field :end_address, class: "govuk-input" %>
</div>

<div class="govuk-form-group <%= field_error(f.object, :routers )%>">
  <%= f.label :routers, class: "govuk-label" %>
  <div id="options_routers-hint" class="govuk-hint">
    Must be in the form: 127.0.0.1,127.0.0.2
  </div>
  <%= f.text_area :routers, value: f.object.routers.join(","), class: "govuk-input" %>
</div>

<%= f.submit f.object.new_record? ? "Create" : "Update", {
  class: "govuk-button",
  "data-module" => "govuk-button"
} %>