<% hide_actions ||= false %>

<table class="govuk-table">
  <caption class="govuk-table__caption">List of subnets</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">CIDR block</th>
      <th scope="col" class="govuk-table__header">Start address</th>
      <th scope="col" class="govuk-table__header">End address</th>
      <th scope="col" class="govuk-table__header">Routers</th>
      <% if !hide_actions %>
        <th scope="col" class="govuk-table__header">
          <span class="govuk-visually-hidden">Actions</span>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% subnets.each do |subnet| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= subnet.cidr_block %></td>
        <td class="govuk-table__cell"><%= subnet.start_address %></td>
        <td class="govuk-table__cell"><%= subnet.end_address %></td>
        <td class="govuk-table__cell"><%= subnet.routers.join(",") %></td>
        <% if !hide_actions %>
          <td class="govuk-table__cell">
            <% if can?(:manage, Subnet) %>
              <%= link_to "Manage", subnet_path(subnet), class: "govuk-link" %>
              <%= link_to "Delete", subnet_path(subnet), class: "govuk-link", method: :delete %>
            <% else %>
              <%= link_to "View", subnet_path(subnet), class: "govuk-link" %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
