.<% hide_actions ||= false %>

<table id="subnets" class="govuk-table">
  <caption class="govuk-table__caption">List of subnets</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">CIDR block</th>

      <% if defined? subnet_statistics %>
        <th scope="col" class="govuk-table__header">Reserved IPs</th>
        <th scope="col" class="govuk-table__header">Remaining IPs</th>
        <th scope="col" class="govuk-table__header">Total Leases</th> 
        <th scope="col" class="govuk-table__header">% Allocated</th>
      <% end %>

      <% if !hide_actions %>
        <th scope="col" class="govuk-table__header">
          <span class="govuk-visually-hidden">Actions</span>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% subnets.each do |subnet| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= subnet.cidr_block %></td>

        <% if defined? subnet_statistics %>
          <td class="govuk-table__cell num_reserved_ips"><%= subnet.reservations.count %></td>
          <td class="govuk-table__cell num_remaining_ips"><%= subnet_statistics[subnet.id].num_remaining_ips %></td>
          <td class="govuk-table__cell num_of_used_leases"><%= subnet_statistics[subnet.id].num_of_used_leases %></td> 
          <td class="govuk-table__cell percentage_used"><%= subnet_statistics[subnet.id].percentage_used.round(2) %>%</td>
        <% end %>

        <% if !hide_actions %>
          <td class="govuk-table__cell">
            <% if can?(:manage, Subnet) %>
              <%= link_to "Manage", subnet_path(subnet), class: "govuk-link" %>
              <%= link_to "Delete", subnet_path(subnet), class: "govuk-link", method: :delete %>
            <% else %>
              <%= link_to "View", subnet_path(subnet), class: "govuk-link" %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
