<h2 class="govuk-heading-l">Subnet <%= @subnet.cidr_block %></h2>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">CIDR block</dt>
    <dd class="govuk-summary-list__value"><%= @subnet.cidr_block %></dd>
    <dd class="govuk-summary-list__actions">
      <%= link_to edit_subnet_path(@subnet), class: "govuk-link" do %>
        Change<span class="govuk-visually-hidden"> CIDR block</span>
      <% end %>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Start address</dt>
    <dd class="govuk-summary-list__value"><%= @subnet.start_address %></dd>
    <dd class="govuk-summary-list__actions">
      <%= link_to edit_subnet_path(@subnet), class: "govuk-link" do %>
        Change<span class="govuk-visually-hidden"> start address</span>
      <% end %>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">End address</dt>
    <dd class="govuk-summary-list__value"><%= @subnet.end_address %></dd>
    <dd class="govuk-summary-list__actions">
      <%= link_to edit_subnet_path(@subnet), class: "govuk-link" do %>
        Change<span class="govuk-visually-hidden"> end address</span>
      <% end %>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Routers</dt>
    <dd class="govuk-summary-list__value"><%= @subnet.routers.join(", ") %></dd>
    <dd class="govuk-summary-list__actions">
      <%= link_to edit_subnet_path(@subnet), class: "govuk-link" do %>
        Change<span class="govuk-visually-hidden"> routers</span>
      <% end %>
    </dd>
  </div>
</dl>

<h3 class="govuk-heading-m">Exclusion</h3>

<% if @subnet.exclusions.any? %>
  <%= link_to "Delete exclusion", exclusion_path(@subnet.exclusions.first), class: "govuk-button govuk-button--secondary", method: :delete if can?(:destroy, @subnet.exclusions.first) %>
<% else %>
  <%= link_to "Create exclusion", new_subnet_exclusion_path(@subnet), class: "govuk-button" if can?(:create, Exclusion) %>
<% end %>

<% if @subnet.exclusions.any? %>
  <%= render "exclusions/details", exclusion: @subnet.exclusions.first %>
<% end %>

<h3 class="govuk-heading-m">Subnets in the same shared network</h3>
<%= render "subnets/list", subnets: @subnet.subnets_in_same_shared_network %>
<%= link_to "Add a subnet to this shared network", new_subnet_extension_path(@subnet), class: "govuk-button" if can?(:update, @subnet) %>

<h3 class="govuk-heading-m">Leases</h3>
<%= link_to "View leases", subnet_leases_path(@subnet), class: "govuk-button govuk-button--secondary" %>

<h3 class="govuk-heading-m">Options</h3>
<% if @subnet.option %>

  <%= link_to "Edit options", edit_subnet_options_path(@subnet), class: "govuk-button" if can?(:update, @subnet.option) %>

  <%= link_to "Delete options", subnet_options_path(@subnet), class: "govuk-button govuk-button--secondary", method: :delete if can?(:destroy, @subnet.option) %>

  <%= render "options/details", option: @subnet.option %>
<% else %>
  <%= link_to "Create options", new_subnet_options_path(@subnet), class: "govuk-button" if can?(:create, Option) %>
<% end %>

<h3 class="govuk-heading-m">Reservations</h3>

<%= link_to "Create a new reservation", new_subnet_reservations_path(@subnet), class: "govuk-button" if can?(:create, Reservation) %>

<% if @subnet.reservations.any? %>
  <%= render "reservations/list", reservations: @subnet.reservations %>
<% end %>
