<%= form_with model: global_option, 
              method: global_option.new_record? ? :post : :put,
              local: true do |f| %>
  <div class="govuk-form-group <%= field_error(f.object, :routers )%>">
    <%= f.label :routers, "Routers", class: "govuk-label" %>
    <div id="zone_forwarders-hint" class="govuk-hint">
      Must be in the form: 127.0.0.1,127.0.0.2
    </div>
    <%= f.text_area :routers, value: f.object.routers.join(","), class: "govuk-input" %>
  </div>

  <div class="govuk-form-group <%= field_error(f.object, :domain_name_servers) %>">
    <%= f.label :domain_name_servers, "Domain Name Servers", class: "govuk-label" %>
    <div id="zone_forwarders-hint" class="govuk-hint">
      Must be in the form: 127.0.0.1,127.0.0.2
    </div>
    <%= f.text_area :domain_name_servers, value: f.object.domain_name_servers.join(","), class: "govuk-input" %>
  </div>

  <div class="govuk-form-group <%= field_error(f.object, :domain_name) %>">
    <%= f.label :domain_name, "Domain Name", class: "govuk-label" %>
    <div id="zone_name-hint" class="govuk-hint">
      Must be in the form: test.example.com
    </div>
    <%= f.text_field :domain_name, class: "govuk-input" %>
  </div>

  <%= f.submit f.object.new_record? ? "Create" : "Update", {
    class: "govuk-button",
    "data-module" => "govuk-button"
  } %>
  <%= link_to "Cancel", global_options_path,
    class: "govuk-button govuk-button--secondary",
    data: {
      module: "govuk-button"
    }
  %>

<% end %>
