<div>
  <h2 class="govuk-heading-l">Global Options</h2>

  <% if @global_option %>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Routers
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @global_option && @global_option.routers.join(",") %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Domain Name Servers
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @global_option && @global_option.domain_name_servers.join(",") %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Domain Name
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @global_option && @global_option.domain_name %>
        </dd>
      </div>
    </dl>
    <% if can? :manage, GlobalOption %>
      <%= link_to "Edit", edit_global_option_path(@global_option.id), class:"govuk-link" %>
      <%= link_to "Delete", global_option_path(@global_option), class:"govuk-link", method: :delete %>
    <% end %>
  <% else %>
    <p class="govuk-body">There are no global options configured.</p>
    <% if can? :manage, GlobalOption %>
      <%= link_to "Create global options", new_global_option_path, class: "govuk-link" %>
    <% end %>
  <% end %>
</div>
