<%= form_with model: option,
              url: subnet_options_path(option.subnet),
              method: option.new_record? ? :post : :put,
              local: true do |f| %>
  <div class="govuk-form-group <%= field_error(f.object, :domain_name_servers) %>">
    <%= f.label :domain_name_servers, class: "govuk-label" %>
    <div id="options_domain_name_servers-hint" class="govuk-hint">
      Must be in the form: 127.0.0.1,127.0.0.2
    </div>
    <%= f.text_area :domain_name_servers, value: f.object.domain_name_servers.join(","), class: "govuk-input" %>
  </div>

  <div class="govuk-form-group <%= field_error(f.object, :domain_name) %>">
    <%= f.label :domain_name, class: "govuk-label" %>
    <div id="options_domain_name-hint" class="govuk-hint">
      Must be in the form: test.example.com
    </div>
    <%= f.text_field :domain_name, class: "govuk-input" %>
  </div>

  <div class="govuk-form-group <%= field_error(f.object, :valid_lifetime) %>">
    <%= f.label :valid_lifetime, class: "govuk-label" %>
    <div id="options_valid_lifetime-hint" class="govuk-hint">
      How long the addresses (leases) given out by the server for this subnet are valid for
    </div>
    <%= f.text_field :valid_lifetime, class: "govuk-input govuk-!-width-one-half" %>
    <%= f.select( :valid_lifetime_unit, option.valid_lifetime_unit_options, {}, {class: "govuk-select govuk-!-width-one-third"}) %>
  </div>

  <%= f.submit f.object.new_record? ? "Create" : "Update", {
    class: "govuk-button",
    "data-module" => "govuk-button"
  } %>

  <%= link_to "Cancel", subnet_path(option.subnet),
    class: "govuk-button govuk-button--secondary",
    data: {
      module: "govuk-button"
    }
  %>
<% end %>
