<%= render "layouts/form_errors", resource: @result %>

<h2 class="govuk-heading-l">Import Data</h2>

<%= form_with local: true, scope: :import do |f| %>

  <div class="govuk-form-group">
    <%= f.label "fits_id", 'FITS id', class: "govuk-label" %>
    <%= f.text_field "fits_id", class: "govuk-input", required: true %>
  </div>

  <div class="govuk-form-group">
    <%= f.label "subnet_list", 'Subnet list', class: "govuk-label" %>
    <%= f.text_field "subnet_list", class: "govuk-input", required: true %>
  </div>
  
  <div class="govuk-form-group">
    <%= f.label "file", 'Import file', class: "govuk-label" %>
    <%= f.file_field "file", class: "govuk-input", required: true %>
  </div>

  <%= f.submit "Submit", {
    class: "govuk-button",
    "data-module" => "govuk-button"
  } %>
<% end %>