<% hide_actions ||= false %>

<table class="govuk-table">
  <caption class="govuk-table__caption">List of reservations</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">HW address</th>
      <th scope="col" class="govuk-table__header">IP address</th>
      <th scope="col" class="govuk-table__header">Hostname</th>
      <th scope="col" class="govuk-table__header">Description</th>
      <% if !hide_actions %>
        <th scope="col" class="govuk-table__header">
          <span class="govuk-visually-hidden">Actions</span>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% reservations.each do |reservation| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= format_mac_address(reservation.hw_address) %></td>
        <td class="govuk-table__cell"><%= reservation.ip_address %></td>
        <td class="govuk-table__cell"><%= reservation.hostname %></td>
        <td class="govuk-table__cell"><%= reservation.description %></td>
        <% if !hide_actions %>
          <td class="govuk-table__cell">
            <% if can?(:manage, Reservation) %>
              <%= link_to "Manage", reservation_path(reservation), class: "govuk-link" %>
              <%= link_to "Delete", reservation_path(reservation), class: "govuk-link", method: :delete %>
            <% else %>
              <%= link_to "View", reservation_path(reservation), class: "govuk-link" %>
            <% end %>
          </td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
