<table class="govuk-table">
  <caption class="govuk-table__caption">List of reservations</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">HW address</th>
      <th scope="col" class="govuk-table__header">IP address</th>
      <th scope="col" class="govuk-table__header">Hostname</th>
      <th scope="col" class="govuk-table__header">Description</th>
        <th scope="col" class="govuk-table__header">
          <span class="govuk-visually-hidden">Actions</span>
        </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% reservations.each do |reservation| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= reservation.hw_address %></td>
        <td class="govuk-table__cell"><%= reservation.ip_address %></td>
        <td class="govuk-table__cell"><%= reservation.hostname %></td>
        <td class="govuk-table__cell"><%= reservation.description %></td>
        <td class="govuk-table__cell">
          <% if can?(:manage, Subnet) %>
            <%= link_to "Edit", edit_reservation_path(reservation), class: "govuk-link" %>
            <%= link_to "Delete", reservation_path(reservation), class: "govuk-link", method: :delete %>
          <% end %>
        </td>
      </tr>
      <% if reservation.reservation_option.nil? %>
        <tr class="govuk-table__row">
          <td class="govuk-table__header">Options:</td>
          <td class="govuk-table__cell"><%= link_to "Create reservation options", new_reservation_reservation_options_path(reservation), class: "govuk-link" if can?(:create, ReservationOption) %></td>
        </tr>
      <% else %>
        <tr class="govuk-table__row">
          <td class="govuk-table__header">Options:</td>
          <td class="govuk-table__cell"><%= reservation.reservation_option.routers.join(",") %></td>
          <td class="govuk-table__cell"><%= reservation.reservation_option.domain_name %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
