<%= render "layouts/form_errors", resource: @result %>

<h2 class="govuk-heading-l">Create a new reservation</h2>

<h3 class="govuk-heading-m">Subnet CIDR block: <%= @reservation.subnet.cidr_block %></h3>

<h3 class="govuk-heading-s">Address pool: <%= @reservation.subnet.start_address %> to <%= @reservation.subnet.end_address %></h3>

<%= render "reservations/form", reservation: @reservation %>
