<h2 class="govuk-heading-l">Reservation</h2>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">HW address</dt>
    <dd class="govuk-summary-list__value"><%= @reservation.hw_address %></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">IP address</dt>
    <dd class="govuk-summary-list__value"><%= @reservation.ip_address %></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Hostname</dt>
    <dd class="govuk-summary-list__value"><%= @reservation.hostname %></dd>
  </div>
</dl>
    <h3 class="govuk-heading-m">Options</h3>
  <table class="govuk-table">
    <% if @reservation.reservation_option.nil? %>
    <tr class="govuk-table__row">
      <td class="govuk-table__header">Options:</td>
      <td class="govuk-table__cell"><%= link_to "Create reservation options", new_reservation_reservation_options_path(@reservation), class: "govuk-link" if can?(:create, ReservationOption) %></td>
    </tr>
    <% else %>
    <tr class="govuk-table__row">
      <td class="govuk-table__header">Routers</td>
      <td class="govuk-table__header">Domain name</td>
      <td class="govuk-table__header"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><%= @reservation.reservation_option.routers.join(",") %></td>
      <td class="govuk-table__cell"><%= @reservation.reservation_option.domain_name %></td>
      <td class="govuk-table__cell">
            <% if can?(:manage, ReservationOption) %>
              <%= link_to "Delete", reservation_option_path(@reservation.reservation_option), class: "govuk-link", method: :delete %>
            <% end %>
          </td>
    </tr>
    <% end %>
    </table>

