<%= form_with model: zone, local: true do |f| %>
  <div class="govuk-form-group <%= field_error(f.object, :name )%>">
    <%= f.label :name, "Name", class: "govuk-label" %>
    <%= f.text_field :name, class: "govuk-input" %>
  </div>

  <div class="govuk-form-group <%= field_error(f.object, :forwarders) %>">
    <%= f.label :forwarders, "Forwarders", class: "govuk-label" %>
    <%= f.text_field :forwarders, class: "govuk-input" %>
  </div>

  <div class="govuk-form-group <%= field_error(f.object, :purpose) %>">
    <%= f.label :purpose, "Purpose", class: "govuk-label" %>
    <%= f.text_field :purpose, class: "govuk-input" %>
  </div>

  <%= f.submit "Create", {
    class: "govuk-button",
    "data-module" => "govuk-button"
  } %>

  <%= link_to "Cancel", subnets_path,
    class: "govuk-button govuk-button--secondary",
    data: {
      module: "govuk-button"
    }
  %>
<% end %>
