<%= form_with model: zone, local: true do |f| %>
  <div class="govuk-form-group <%= field_error(f.object, :name )%>">
    <%= f.label :name, class: "govuk-label" %>
    <div id="zone_name-hint" class="govuk-hint">
      Must be in the form: test.example.com
    </div>
    <%= f.text_field :name, class: "govuk-input" %>
  </div>

  <div class="govuk-form-group <%= field_error(f.object, :forwarders) %>">
    <%= f.label :forwarders, class: "govuk-label" %>
    <div id="zone_forwarders-hint" class="govuk-hint">
      Must be in the form: 127.0.0.1,127.0.0.2
    </div>
    <%= f.text_field :forwarders, value: f.object.forwarders.join(","), class: "govuk-input" %>
  </div>

  <div class="govuk-form-group <%= field_error(f.object, :purpose) %>">
    <%= f.label :purpose, class: "govuk-label" %>
    <%= f.text_field :purpose, class: "govuk-input" %>
  </div>

  <%= f.submit f.object.new_record? ? "Create" : "Update", {
    class: "govuk-button",
    "data-module" => "govuk-button"
  } %>

  <%= link_to "Cancel", dns_path,
    class: "govuk-button govuk-button--secondary",
    data: {
      module: "govuk-button"
    }
  %>
<% end %>
