<h2 class="govuk-heading-l">Are you sure you want to delete this zone?</h2>
<h3 class="govuk-heading-m">Details:</h3>
<div class="govuk-inset-text">
<h4 class="govuk-heading-s">Zone name:</h4>
<p class="govuk-body"><%= @zone.name %></p>
<h4 class="govuk-heading-s">Forwarders:</h4>
<p class="govuk-body"><%= @zone.forwarders.join(',') %></p>
<h4 class="govuk-heading-s">Purpose:</h4>
<p class="govuk-body"><%= @zone.purpose %></p>
</div>
<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    Deleting a zone cannot be undone.
  </strong>
</div>

<%= button_to "Delete zone", zone_path(@zone),
  method: :delete,
  class: "govuk-button govuk-button--warning govuk-!-margin-right-1",
  data: {
    "module" => "govuk-button"
  },
  params: {
    confirm: true
  },
  form: {
    class: 'govuk-!-display-inline-block'
  }
%>
<%= link_to "Cancel", dns_path,
  class: "govuk-button govuk-button--secondary",
  data: {
    module: "govuk-button"
  }
%>

