<div>
  <h2 class="govuk-heading-l">DNS Zones</h2>

  <%= link_to "Create a new zone", new_zone_path, class: "govuk-button" %>

  <table class="govuk-table">
    <caption class="govuk-table__caption">List of DNS Zones</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Name</th>
        <th scope="col" class="govuk-table__header">Forwarders</th>
        <th scope="col" class="govuk-table__header">Purpose</th>
        <th scope="col" class="govuk-table__header">
          <span class="govuk-visually-hidden">Actions</span>
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @zones.each do |zone| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><%= zone.name %></td>
          <td class="govuk-table__cell"><%= zone.forwarders %></td>
          <td class="govuk-table__cell"><%= zone.purpose %></td>
          <td class="govuk-table__cell">
            <%= link_to "Edit", edit_zone_path(zone), class: "govuk-link" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
