<% hide_actions ||= false %>

<table class="govuk-table">
  <caption class="govuk-table__caption">Exclusion</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Start Address</th>
      <th scope="col" class="govuk-table__header">End Address</th>
      <% if !hide_actions %>
        <th scope="col" class="govuk-table__header">
          <span class="govuk-visually-hidden">Actions</span>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% exclusions.each do |exclusion| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= exclusion.start_address %></td>
        <td class="govuk-table__cell"><%= exclusion.end_address %></td>
        <% if !hide_actions %>
          <td class="govuk-table__cell">
            <% if can?(:manage, Exclusion) %>
              <%= link_to "Manage", subnet_exclusion_path(exclusion.subnet), class: "govuk-link" %>
              <%= link_to "Delete", subnet_exclusion_path(exclusion.subnet), class: "govuk-link", method: :delete %>
            <% else %>
              <%= link_to "View", subnet_exclusion_path(exclusion.subnet), class: "govuk-link" %>
            <% end %>
          </td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
