<div>
  <h2 class="govuk-heading-l">Client Classes</h2>

  <% if can? :manage, ClientClass %>
    <%= link_to "Create client class", new_client_class_path, class: "govuk-button" %>
  <% end %>

  <table class="govuk-table">
    <caption class="govuk-table__caption">List of client classes</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Name</th>
        <th scope="col" class="govuk-table__header">Client id</th>
        <th scope="col" class="govuk-table__header">Domain name servers</th>
        <th scope="col" class="govuk-table__header">Domain name</th>
        <th scope="col" class="govuk-table__header">
          <span class="govuk-visually-hidden">Actions</span>
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @client_classes.each do |client_class| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><%= client_class.name %></td>
          <td class="govuk-table__cell"><%= client_class.client_id %></td>
          <td class="govuk-table__cell"><%= client_class.domain_name_servers.join(",") %></td>
          <td class="govuk-table__cell"><%= client_class.domain_name %></td>
          <td class="govuk-table__cell">
            <% if can?(:manage, client_class) %>
              <%= link_to "Manage", edit_client_class_path(client_class), class: "govuk-link" %>
              <%= link_to "Delete", client_class_path(client_class), class: "govuk-link", method: :delete %>
            <% else %>
              <%= link_to "View", client_class_path(client_class), class: "govuk-link" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
