<div>
  <h2 class="govuk-heading-l">Sites</h2>

  <% if can? :create, Site %>
    <%= link_to "Create a new site", new_site_path, class: "govuk-button" %>
  <% end %>

  <table class="govuk-table">
    <caption class="govuk-table__caption">List of Sites</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">FITS Id</th>
        <th scope="col" class="govuk-table__header">Name</th>
        <% if can? :manage, Site %>
          <th scope="col" class="govuk-table__header">
            <span class="govuk-visually-hidden">Actions</span>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @sites.each do |site| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><%= site.fits_id %></td>
          <td class="govuk-table__cell"><%= site.name %></td>
          <% if can? :manage, Site %>
            <td class="govuk-table__cell">
              <%= link_to "Edit", edit_site_path(site), class: "govuk-link" %>
              <%= link_to "Delete", site_path(site), class:"govuk-link", method: :delete %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
