<%= render "layouts/breadcrumbs", crumbs: [["Home", root_path], ["DHCP", dhcp_path]] %>

<h2 class="govuk-heading-l">Site <%= @site.name %></h2>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">FITS id</dt>
    <dd class="govuk-summary-list__value"><%= @site.fits_id %></dd>
    <dd class="govuk-summary-list__actions">
      <%= link_to edit_site_path(@site), class: "govuk-link" do %>
        Change<span class="govuk-visually-hidden"> FITS id</span>
      <% end %>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Name</dt>
    <dd class="govuk-summary-list__value"><%= @site.name %></dd>
    <dd class="govuk-summary-list__actions">
      <%= link_to edit_site_path(@site), class: "govuk-link" do %>
        Change<span class="govuk-visually-hidden"> name</span>
      <% end %>
    </dd>
  </div>
</dl>

<% if can? :create, Subnet %>
  <%= link_to "Create a new subnet", new_site_subnet_path(@site), class: "govuk-button" %>
<% end %>


<%= render "subnets/list", subnets: @subnets %>
