<nav>
  <ul id="navigation" class="govuk-header__navigation" aria-label="Top Level Navigation">
    <% if user_signed_in? %>
      <li class="govuk-header__navigation-item<%= selected_class_if_controller('zones') %>">
        <%= link_to "DNS", dns_path, class: "govuk-header__link", data: { topnav: "DNS" } %>
      </li>

      <li class="govuk-header__navigation-item<%= selected_class_if_controller(['sites', 'global_options', 'subnets', 'options']) %>">
        <%= link_to "DHCP", dhcp_path, class: "govuk-header__link", data: { topnav: "DHCP" } %>
      </li>

      <li class="govuk-header__navigation-item<%= selected_class_if_controller('import') %>">
        <%= link_to "Import", import_path, class: "govuk-header__link", data: { topnav: "Import" } %>
      </li>

      <li class="govuk-header__navigation-item<%= selected_class_if_controller('import_sites') %>">
        <%= link_to "Import Sites", import_sites_path, class: "govuk-header__link", data: { topnav: "Import Sites" } %>
      </li>

      <li class="govuk-header__navigation-item<%= selected_class_if_controller('audit_log') %>">
        <%= link_to "Audit log", audits_path, class: "govuk-header__link", data: { topnav: "Audit log" } %>
      </li>

      <li class="govuk-header__navigation-item">
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "govuk-header__link" %>
      </li>
    <% end %>
  </ul>
</nav>
